@import "nprogress";
@import "fonts";
@import "vuesnackbar";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shadow-base {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

@import "prism-atom-dark";
@import "prism";
code[class*="language-"],
pre[class*="language-"] {
    font-family: "Operator Mono", "Dank Mono", Consolas, Monaco, "Andale Mono",
        "Ubuntu Mono", monospace;
}
.token.keyword {
    font-style: italic;
}
