@import "nprogress";
@import "fonts";
@import "vuesnackbar";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shadow-base {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

@import "prism-atom-dark";
@import "prism";
code[class*="language-"],
pre[class*="language-"] {
    font-family: "Operator Mono", "Dank Mono", Consolas, Monaco, "Andale Mono",
        "Ubuntu Mono", monospace;
}
.token.keyword {
    font-style: italic;
}

active,
.active-left {
    position: relative;
}
.active:after {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: "";
    height: 3px;
    width: 100%;
    border-radius: 1000px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #4299e1;
}
.active-left:after {
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    content: "";
    height: 80%;
    width: 5px;
    border-radius: 1000px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #4299e1;
}
